header{
    font-size: 100%;
}
body{
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}
main,header,footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
}
.button{
    background-color: transparent;
    border: 0.1vw solid white;
    padding: 2%;
    color: whitesmoke;
    font-size: 150%;
    margin: 1%;
}
.button:hover{
    transform: scale(1.2);
}
.passwordDiv{
    font-size: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input{
    max-width: 20vw;
    min-width: 10vw;
}
.slider{
    appearance: none;
    width: 40vh;
    height: 1.5vh;
    background: white;
    border-radius: 1vw;
    margin-top: 10%;
    margin-bottom: 10%;
}
.slider:hover{
    opacity: 0.5;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background: #5f5f5f;
    cursor: pointer;
}
.slider:hover::-webkit-slider-thumb{
        background: #276bb6;
}
output{
    color: whitesmoke
}
.sliderDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#copyPassword{
    color: #aeecb8 !important
}
.disabled{
    display: none;
}